.popularPetitions {
  display: flex;
  justify-content: center;
  padding: 2.3rem 1rem;
  background-color: #3e4444 !important;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.287) !important;
}

.popularPetitions > h3 {
  text-align: center;
  white-space: nowrap;
  font-size: 1.7vw;
  background-color: #3e4444;
  color: white;
}

.communityImg {
  border-radius: 0;
  height: 20rem;
}

.communityContainerBelow {
  padding: 0 1rem;
}

.popularPetitionCard {
  margin-top: 3rem;
  margin: 3rem 1rem;
}

.cardTitle {
  text-transform: uppercase;
  padding: 0 0.3rem;
}

.cardText {
  padding: 0.3rem 0.3rem 1rem 0.3rem;
}

.postsTextArea {
  height: 10rem;
}

.postsTextArea > textarea {
  padding: 1rem 0.3rem;
  outline: none;
  border-left: none;
  border-top-right-radius: 12px;
}

.profilePictureOnPostContainer {
  border: 1px solid grey;
  border-right: none;
  padding: 0.3rem;
  border-top-left-radius: 12px;
}

.profilePictureOnPost {
  padding: 1.5rem;
  margin: 0.3rem;
  border-radius: 50%;
}

.filesPost {
  border: 1px solid grey;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
  border-top: none;
  height: 6rem;
  margin-bottom: 5rem;
  padding: 0 0.3rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.inputPostContainer {
  margin: 0 5rem;
}

.filesPost > img {
  margin-right: 3rem;
  height: 5rem !important;
}

.postPicturePreview {
  height: 87% !important;
  width: 12rem !important;
  border: 1px solid black;
  border-radius: 12px;
}

.postContainer {
  border: 1px solid grey;
  margin: 3rem 5rem;
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.287);
  font-family: "Nunito Sans", sans-serif;
}

.postPicture {
  border: 1px solid black;
  border-left: none;
  border-right: none;
}

.postHeader {
  display: flex;
  background-color: #3e4444;
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  justify-content: space-between;
}

.userCredentialsOnPost {
  display: flex;
  align-items: center;
  padding: 1rem 0rem 0.3rem 1rem;
  margin: 0 1rem;
  width: 50%;
}

.userCredentialsOnPost > .profilePictureOnPost {
  margin-right: 1rem;
  border: 1px solid grey;
}

.nameAndDate {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-transform: capitalize;
}

.postUsernameContainer > h5 {
  font-size: 27px;
}

.postDate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-style: italic;
}

.postDate > h4 {
  font-size: 18px;
}

.postPictureContainer {
  padding: 0rem 0rem 1rem 0rem;
}

.postTextContainer {
  padding: 3rem 3rem;
}

.userInteractionsOnPost {
  padding: 0.3rem 1rem;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.likeContainer {
  display: flex;
  align-items: center;
  font-size: 36px;
  height: 3rem;
}

.dispatchLike {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.inputContainer > input {
  width: 75%;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  outline: none;
  padding: 1rem;
}

.sendButton {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  font-size: 27px;
}

.singleComment {
  display: flex;
  padding: 1rem 1rem 0 1rem;
}

.commentCredentials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10rem;
}

.commentUserPic {
  border-radius: 50%;
  border: 1px solid grey;
  width: 3rem;
  height: 3rem;
  background-size: cover;
  margin-left: 0.5rem;
}

.commentUsername {
  font-size: 24px;
  font-weight: 500;
  padding-left: 1rem;
}

.commentComment {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  font-size: 24px;
}

.commentLike {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 24px;
}

.postLikeInteraction {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.commentMod {
  padding: 0 1rem;
  display: flex;
  justify-content: space-around;
  width: 10rem;
}

.commentSectionTitle {
  padding: 3rem 0 2rem 1rem;
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 32px;
  margin: 0 1rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.noComments {
  padding: 3rem 0;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  font-style: italic;
}

.noCommentsPlaceholder {
  width: 20rem;
  height: 10rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  z-index: 3 !important;
}

.aiIcon {
  cursor: pointer;
  font-size: 32px;
  transition: all 0.2s ease;
}

.aiIcon.delete:hover {
  color: red;
  transform: scale(1.1);
}

.aiIcon.edit:hover {
  color: green;
  transform: scale(1.1);
}

.aiIcon.upload {
  margin-right: 1rem;
}

.editCommentInput {
  border: none;
  font-size: 21px;
  display: flex;
  margin-top: -1rem;
  outline: none;
  border-bottom: 1px solid black;
}

.editCommentInput::placeholder {
  font-size: 21px;
}

.viewMoreContainer {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  padding: 1rem;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: flex;
  padding: 6px 12px;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
}

.custom-file-upload.comment {
  color: black;
  border: none;
}

.custom-file-upload-post {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aiIcon.upload:hover {
  transform: scale(1.1);
}

.imagePreviewContainer {
  display: flex;
  justify-content: center;
}

.editPictureOnPost {
  border: 1px solid black;
  margin: 1rem;
}

.postInputEdit {
  width: 50rem;
  margin: 0 1rem;
  padding-left: 1rem;
}

.colorButtonsEditPost {
  display: flex;
  padding: 0 0.3rem;
}

.commentsMapContainer {
  background-color: #3e4444;
  color: white;
}

.viewMoreContainer {
  background-color: #3e4444;
  color: white;
}

.inputContainer {
  background-color: #3e4444;
  color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.newCommentEdit {
  background-color: #3e4444 !important;
  padding: 1rem !important;
}

.editTextCommentContainer {
  display: flex;
  width: 100%;
  margin-left: 1rem;
}

.editCommentInput {
  margin-top: 0.1rem;
  width: 100%;
}

.singleCommentContainer {
  border-top: 1px solid black;
  margin: 0 3rem;
}

.likesHeaderContainer {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
