* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#root {
    height: auto;
    width: auto;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

/* header */

.navBar {
    width: 100%;
    position: fixed;
    z-index: auto;
}

.mainListDiv {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(46, 46, 46, 0.274);
}

.createPetition {
    width: 15vw;
}

.mainListDiv p {
    color: ivory;
    text-decoration: none;
    font-size: 2.5vh;
    display: flex;
}

nav a {
    text-decoration: none;
}

.navContainer{
    display: flex;
    align-items: center;
    
}

.navContainer p {
    margin-left: 1vw;
}

.logoDiv {
    width: 9vw;
    height: 14vh;
    background-size: cover;
    background-Position: center ;
}

.userHeaderLink{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
}

.userHeaderName {
    text-decoration: none;
}

.userHeader {
    display: flex;
    flex-direction: column;
}


.navsDiv {
    width: 40%;
    display: flex;
    margin-left: 5vw;
}

.userImg {
    width: 4.5vw;
    height: 9vh;
    border-radius: 15vw;
}

.drop p {
    color: black;
    font-size: 1.7vh;
}

.dropMenu {
    margin-top: 1vh;
}

.noUserHeader {
    display: flex;
    align-items: center;
    margin-right: 5vw; 
}

.affix {
    padding: 0;
    background-color: rgb(46, 46, 46);
}
/* homepage */

.containerMain {
    width: 100%;
    height: 100vh;
    background-color: rgb(10, 78, 10);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative;
    z-index: 5;  */
}

/* .containerMain div {
    display: flex;
    align-items: center;
    padding-right: 3vw;
} */

.containerHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.distanceDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.containerBanner {
    width: 100%;
    height: 10vh;
    background-color: rgb(10, 78, 10);
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: ivory;
    font-size: 3vh;
}

.divBlog {
    width: 100%;
    height: 50vh;
    background-color: rgb(46, 46, 46);
    margin-top: 5vh;
}

.mainTitle {
    font-size: 10vh;
}

/* login */

.loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

.textMail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}