* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
}

body {
  width: auto;
  height: auto;
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}
/* header */

.navBar {
  width: 100%;
  position: fixed;
  padding: 1vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.281);
  transition: 1s;
}

.pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pages p {
  text-decoration: none;
  margin-right: 2vw;
  color: rgb(255, 255, 255);
  padding: 0.5vw 1vw;
  font-size: large;
  transition: 0.3s;
}

.pages p:hover {
  transition: 0.3s;
  border-bottom: 2px solid green;
}

.userHeaderNamendLogOut {
  display: flex;
  justify-content: center;
}
.userHeaderNamendLogOut p {
  color: rgb(255, 255, 255);
}

.userHeaderNamendLogOut p:hover {
  border: none;
}

.logOut {
  margin-top: 1.5vh;
  position: relative;
  right: 20%;
  color: brown;
  cursor: pointer;
  font-size: 3vh;
}

.mainListDiv {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(46, 46, 46, 0.274);
}

.mainListDiv p {
  color: ivory;
  text-decoration: none;
  font-size: 2.5vh;
  display: flex;
}

nav a {
  text-decoration: none;
}

.navContainer {
  display: flex;
  align-items: center;
}

.navContainer p {
  margin-left: 1vw;
}

.logoDiv {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;

}

.active p {
  padding: 0.5vw 1vw;
  /* background-color: rgba(245, 245, 245, 0); */
  border-bottom: 2px solid green;
  color: rgb(255, 255, 255);
  /* box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555); */
}

.userHeaderLink {
  margin-bottom: 1vh;
  margin-right: 1vw;
}
.userHeaderLink h6 {
  margin-left: 1vw;
  margin-top: 1vh;
}

.userHeaderName {
  text-decoration: none;
}

.userHeader {
  display: flex;
  flex-direction: column;
}

.navsDiv {
  width: 40%;
  display: flex;
  margin-left: 5vw;
}

.userImg {
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
  width: 50px;
  height: 50px;
  border-radius: 15vw;
}

.drop {
  margin-right: 1vw;
}

.drop p {
  color: rgb(0, 0, 0);
  font-size: 1.7vh;
}

.dropMenu {
  margin-top: 1vh;
}

.noUserHeader {
  display: flex;
  align-items: center;
  margin-right: 5vw;
}

.affix {
  padding: 1vh;
  background-color: #3e4444;
  transition: 0.8s;
}
/* homepage */

.containerMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 120%;
  animation: movement 30s infinite linear alternate;
}

@keyframes movement {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

.sloganBanner {
  margin-right: 2vw;
}

.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.distanceDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.containerBanner {
  width: 100%;
  height: 10%;
  padding: 1vw;
  background-color: #405d27;
  display: flex;
  justify-content: center;
  align-items: center;
  color: ivory;
  font-size: 3vh;
}

.containerPetBanner {
  width: 100%;
  height: 10vh;
  background-color: rgb(98, 76, 27);
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: ivory;
  font-size: 3vh;
}

.divBlog {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lastArticlesCard {
  margin-top: 2vh;
  display: flex;
  align-items: flex-end;
  width: 300px;
  height: 70vh;
  min-width: auto;
  min-height: auto;
  margin-left: 1vw;
  margin-bottom: 1vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1vw;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.287);
  transition: background-position 20s;
}

.lastArticlesCard:hover {
  background-position: top left;
}

.lastArticlesCreated,
.lastPetitionsCreated {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3vw;
  color: black;
  margin-bottom: 5vh;
}

.lastArticleTitle {
  color: white;
  background-color: rgba(0, 0, 0, 0.801);
  font-size: large;
  margin-top: 1vh;
  margin-bottom: 0px !important;
  padding: 3vh;
  transition: 0.5s;
  min-height: 10rem;
  font-size: 24px;
}

.lastArticleTitle:hover {
  color: #c1946a;
  transition: 0.5s;
}

.lastArticleDesc {
  color: white;
  font-size: medium;
}
.lastArticlesInfo {
  border-radius: 0vh 0vw 1vw 1vw;
  display: flex;
  justify-content: space-around;
  color: grey;
  background-color: rgba(0, 0, 0, 0.801);
  align-items: center;
}

.lastArticlesInfo p {
  margin-top: 2vh;
  color: white;
  margin-left: 10vw;
}

.lastArticlesInfo span {
  color: #75a146;
  font-weight: bold;
}

.articleDate {
  position: static;
  margin-left: 1vw;
  color: white;
}

.mainTitle {
  font-size: 10vh;
}

.lastPetitionsContainer {
  display: flex;
  /* width: 50%; */
  /* height: 25%; */
  background-size: 30%;
  background-repeat: no-repeat;
  border-radius: 1vw;
  color: white;
  margin: 1vh;
  background-image: url("https://image.freepik.com/foto-gratis/hojas-color-verde-oscuro-jardin-textura-hoja-verde-esmeralda-naturaleza-fondo-abstracto-bosque-tropical-encima-vista-hojas-color-verde-oscuro-patron-natural_33867-1475.jpg");
  background-size: cover;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.287);
}

.lastPetitionImg {
  width: 40%;
  height: 100%;
  border-radius: 1vw 0vw 0vw 1vw;
}
.lastPetitionImgPetitionCard {
  width: 40%;
  height: 40vh;
  border-radius: 1vw 0vw 0vw 1vw;
}

.lastPetitionsInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 1vw;
}
.userInfo {
  display: flex;
  justify-content: space-between;
}
.userInfo img {
  width: 2.5vw;
  height: 5vh;
  border-radius: 15vw;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.287);
}
.petitionCreatedBy span {
  color: #c1946a;
}

.peopleSign {
  font-weight: lighter;
}
.peopleSign span {
  font-weight: bold;
  color: #75a146;
}

.lastPetitionsTitle {
  margin-right: 2vw;
  text-shadow: 2px 2px 2px rgba(14, 14, 14, 0.287);
}

.white {
  height: 10vh;
  width: 100%;
}

/* footer */

.footerDiv {
  width: 100%;
  height: 15vh;
  color: aliceblue;
  background-color: #405d27;
}

/* login */

.loginDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  margin-top: 5vh;
}

.textMail {
  background-color: rgba(34, 102, 25, 0.733);
  border-radius: 2vh;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.containerLog {
  background-color: rgba(0, 0, 0, 0.116);
  border-radius: 2vh;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container a {
  text-decoration: none;
  color: #4c6b2b;
}

.container a:hover {
  color: brown;
}

.btnLog {
  width: 10vw;
  height: 5vh;
  background-color: #4c6b2b;
  color: rgb(253, 248, 241);
  border: none;
  border-radius: 20px;
}

.containerLog input {
  width: 20vw;
  outline: none;
  margin-top: 1vh;
  box-shadow: 2px 2px 5px #999;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.123);
  border: none;
  outline: none;
  border-bottom: 0.5vh solid green;
  width: 100%;
  height: 7vh;
  padding: 1vw;
  font-size: 1vw;
  text-align: center;
  border-radius: 1vw;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

.loginDiv h1 {
  margin-bottom: 3vh;
}

.forgotPass:hover {
  cursor: pointer;
  color: brown;
}

.white {
  height: 10vh;
  width: 100%;
}

/* Register */

.registerDiv {
  margin-top: 5vh;
}

.registerDiv input {
  margin-top: 2vh;
  width: 20vw;
  outline: none;
}

.registerDiv h1 {
  margin-bottom: 3vh;
}

/* Petitions */

.allPetitions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
}

.allPetitions a {
  background-color: rgba(0, 0, 0, 0.116);
  border-radius: 2vh;
  width: 80%;
  height: 20vh;
  text-decoration: none;
  color: rgb(58, 37, 37);
  box-shadow: -10px 10px 8px rgb(56, 42, 42);
  display: flex;
  margin-bottom: 5vh;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
}

.petitionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.petitionImg {
  background-color: crimson;
  min-width: 15vw;
  height: 100%;
  border-radius: 2vh;
}

.titlePetition {
  display: flex;
  justify-content: center;
}

.petitionIndiv {
  background-color: rgba(0, 0, 0, 0.116);
  border-radius: 2vh;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
  margin: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
}

.description {
  background-color: rgba(4, 97, 50, 0.822);
  color: aliceblue;
  margin-top: 2vh;
  padding:2vh;
  width: 85%;
  border-radius: 2vh;
}

.inputPetitions {
  width: 80%;
  display: flex;
  justify-content: center;
}

.inputPetitions input {
  width: 60%;
  outline: none;
}

.userPicPetitions {
  border-radius: 80%;
}

.returnPet{
  color: brown;
  text-decoration: none;
}

.btnPetition {
  border-radius: 0.5vw;
  color: rgba(255, 255, 255, 0.692);
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.65);
  border: none;
  border-bottom: 2px solid green;
  padding: 0.8vw 2vw;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
}

.btnPetition:hover {
  background-color: black;
}

/* Create Petition */

.createPetitionBanner {
  width: 100%;
  height: 70vh;
}

/* .createPetitionContainer {
  width: 100%;
  height: 100%;
} */

.createPetitionContainer p {
  color: green;
  text-shadow: 2px 2px 2px rgba(14, 14, 14, 0.109);
}

.createPetitionContainer h5,
h6 {
  text-shadow: 2px 2px 2px rgba(14, 14, 14, 0.233);
}

.backgroundCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* input 1 & 2 */

.createPetitionInput1nd2 {
  width: 40vw;
  height: 25vh;
  border-radius: 2vh;
  padding: 3vh 2vw;
}

.createPetitionInput1nd2 input {
  margin-top: 1vh;
  box-shadow: 2px 2px 5px #999;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.123);
  border: none;
  outline: none;
  border-bottom: 0.5vh solid green;
  width: 100%;
  height: 7vh;
  padding: 1vw;
  font-size: 1vw;
  text-align: center;
  border-radius: 1vw;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

/* input 3 */

.createPetitionInput3 {
  width: 40vw;
  height: 25vh;
  border-radius: 2vh;
  padding: 3vh 2vw;
}

.createPetitionInput3 textarea {
  width: 100%;
  resize: none;
  margin-top: 1vh;
  box-shadow: 2px 2px 5px #999;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.123);
  border: none;
  outline: none;
  border-bottom: 0.5vh solid green;
  width: 100%;
  height: 10vh;
  padding: 1vw;
  font-size: 1vw;
  text-align: center;
  border-radius: 1vw;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

/* input 4 */

.createPetitionInput4 {
  width: 40vw;
  height: 25vh;
  border-radius: 2vh;
  padding: 3vh 2vw;
}

.createPetitionInput4 input {
  margin-top: 1vh;
  box-shadow: 2px 2px 5px #999;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.123);
  border: none;
  outline: none;
  border-bottom: 0.5vh solid green;
  width: 100%;
  height: 7vh;
  padding: 1vw;
  font-size: 1vw;
  text-align: center;
  border-radius: 1vw;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

/*input 5 */

.createPetitionInput5 {
  width: 40vw;
  height: 25vh;
  border-radius: 2vh;
  padding: 3vh 2vw;
}

.createPetitionInput5 input {
  margin-top: 1vh;
  margin-left: 9vw;
  box-shadow: 2px 2px 5px #999;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.123);
  border: none;
  outline: none;
  border-bottom: 0.5vh solid green;
  width: 50%;
  height: 7vh;
  padding: 1vw;
  font-size: 1vw;
  text-align: center;
  border-radius: 1vw;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

/* input 6 */

.createPetitionInput6 {
  width: 40vw;
  height: 45vh;
  border-radius: 2vh;
  padding: 3vh 2vw;
}

.createPetitionUploadFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-pic-profile-submit {
  margin-bottom: 2vh;
  width: 50%;
  height: 50%;
  border-radius: 1vw;
  margin-left: 9vw;
  margin-top: 1vh;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
  cursor: pointer;
}

.createPetitionUploadFile input {
  display: none;
}

.createPetitionButton button {
  border-radius: 0.5vw;
  color: rgba(255, 255, 255, 0.692);
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.65);
  border: none;
  border-bottom: 2px solid green;
  padding: 0.8vw 2vw;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
  margin-bottom: 5vw;
}

.createPetitionButton button:hover {
  background-color: black;
}

/* Admin Blog */

.adminBlog {
  width: 100%;
  height: 100%;
}

.topSectionAdmin{
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.whiteAdminText{
  padding: 1vh;
  color: whitesmoke;
}

.adminInputs{
  width: 20vw;
}

.adminButton{
  width: 6vw;
}

.positionArticleAdmin{
  padding: 1vh;
  display: flex;
  justify-content: center;
}

.sectionAdminBlog{
  display: flex;
  justify-content: center;
}

.adminBanner {
  width: 100%;
  height: 70vh;
  background-image: url("https://media.apnarm.net.au/media/images/2020/04/06/v3imagesbin6355055de02e35c86ddcd8d4879ffa8b-szww8ekgypuha3rd4u2_t1880.jpg");
  background-size: cover;
}

/* Blog */

.portadaBlog {
  width: 100%;
  height: 70vh;
}


/* Community */

.communityBanner {
  width: 100%;
  height: 70vh;
}

.comunityContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.comunityEntry {
  margin-top: 10vh;
  background-color: rgba(255, 255, 255, 0.198);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vw;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
}

.communityImg {
  width: 10vw;
  height: 20vh;
  background-size: cover;
  border-radius: 5vw;
  margin-bottom: 2vh;
}

.communityInfo {
  background-color: rgba(95, 95, 95, 0.274);
  border-radius: 1vw;
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
  padding: 1vw 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vw;
}

/* petitions */

.petitionBanner {
  width: 100%;
  height: 70vh;
  background-image: url("https://images.theconversation.com/files/90375/original/image-20150731-24504-exqdo3.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop");
}

/* Profile */

.profilebanner {
  width: 100%;
  height: 50vh;
  background-image: url("https://i.pinimg.com/originals/d0/e0/e5/d0e0e5db4caa18860d28456cacce86c8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.profileDrop {
  text-decoration: none;
  color: black;
}

.profileDrop:hover {
  color: green;
}

.logOutDrop:hover {
  color: red;
}

.profileContainer {
  margin-top: 5vh;
  width: 90%;
  height: 100%;
  border-radius: 1vw;
  background-color: rgba(0, 0, 0, 0.082);
  box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
}
.lastPetitionsContainerProfile {
  display: flex;
  background-size: 30%;
  background-repeat: no-repeat;
  border-radius: 1vw;
  color: white;
  margin: 1vh;
  background-image: url('https://image.freepik.com/foto-gratis/hojas-color-verde-oscuro-jardin-textura-hoja-verde-esmeralda-naturaleza-fondo-abstracto-bosque-tropical-encima-vista-hojas-color-verde-oscuro-patron-natural_33867-1475.jpg');
  background-size: cover;
  box-shadow: 2px 2px 2px rgb(14 14 14 / 29%);
}
.profileInfoImg {
  width: 25vh;
  height: 25vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.margin-negativo{
  margin-bottom: -20vh;
}

.profileInfoImg button {
  width: 3vw;
  height: 3vh;
  font-size: 7px;
  font-weight: bold;
  border-radius: 2vw;
}

.profileInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameInfo {
  width: 25%;
  margin-left: 15vw;
}

.userNameInfo {
  width: 25%;
}

.adicionalInfo {
  margin-left: 1.2vw;
  margin-top: 8vh;
  display: flex;
  justify-content: space-around;
}

.changePassword {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  cursor: pointer;
}

.changePassword:hover {
  color: green;
}

.petandblogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}

.perfilContent {
  margin-bottom: 5vh;
}

.petitionsContent {
  margin-bottom: 5vh;
}

.blogsContent {
  margin-bottom: 5vh;
}

/* Posts */

.fotoNombrePosts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.postsTextArea {
  display: flex;
  justify-content: center;
}

.filesPost {
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 5vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh;
}
textarea {
  resize: none !important;
}
/* blog stiles */
.portadaContainer {
  padding-top: 13vh;
}
.containerMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 120%;
  animation: movement 30s infinite linear alternate;
}
.portadaArticle::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../assets/blog_portada.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.portadaArticle {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  padding: 15% 10% 10% 10%;
  position: relative;
  z-index: -1;
}

.portadaBanner {
  height: auto;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2vw;
  border-radius: 15px;
}
.categoryBlog {
  color: #405d27;
  font-weight: 700;
}
.bg-greenLight{
  background-color: #405d272a;
}
.tituloBlog {
  color: black;
  font-weight: 700;
  width: 70%;
  text-align: left;
}
.tituloBlog:hover {
  transform: scale(1.02);
}
.descripcionBlog {
  color: #3e4444;
  text-align: justify;
}
.scale-img {
  background-size: contain;
  background-position: center;
}
.scale-img:hover {
  background-size: cover;
  background-position: top;
  transform: scale(1.03);
  transition: 1s;
}
.bannerLatest {
  width: 100%;
  height: 10%;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 3vh;
}
.articlesList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* article style */
.textArticle {
  color: whitesmoke;
  padding-left: 0.3vw;
  padding-top: 1vw;
  font-size: 3vh;
}
.titleArticle {
  padding-top: 3vh;
  color: whitesmoke;
  text-align: center;
}

.authorArticleName{
  margin-top: 3.5vh;
  margin-left: 1vw;
  color: whitesmoke;
  text-align: center;
}

.columnArticlePic{
  display:flex;
  justify-content: center;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.authorContainerArticle {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  margin-top: 1vh;
  border-top: 1px solid rgb(68, 59, 59);
  border-bottom: 1px solid rgb(68, 59, 59);
}

.containerArticlePic{
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.picArticle{
  width: 60vw;
  padding-bottom: 1vh;
}

.articleVisits{
  margin-top: 3.5vh;
  margin-left: 1vw;
  color: whitesmoke;
  text-align: center;
}

.authorArticlePicture{
  margin-left: 0.5vw;
  padding: 1vh;
  width: 55px;
}

.commentIconArticle{
  width: 2.7vw;
  height: 10vh;
}

.authorAlignArticle{
  display: flex;
}

.articleDescription{
  padding-top: 3vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textArticleDescription{
  width: 60vw;
  color: whitesmoke;
}

.commentArticleContainerMain{
  width: 60vw;
  border-radius: 2vw;
}

.commentsMapArticleContainer{
  background-color: #3e4444;
  color: white;
  border-radius: 2vw;
}

.centerArticleImage{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.textArticleComment{
  color: black;
  margin-top: 3.4vh;
  width: 30vw;
}

.articleCommentContainer{
  background: rgba(201, 192, 192, 0.781);
  border-radius: 1vh;
  width: 40vw;
  height: 13vh;
  margin-top: 0.4vh;
}

.nameArticleComment{
  padding-left: 2.5vw;
  padding-top: 1vh;
  height: 3vh;
}

.commentArticleIcons{
  margin-top: 1vh;
}

/* Loader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #82b74b;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #405d27;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #c1946a;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
